body {
  margin: 4em 2em;
  font-family: Helvetica, arial, san-serif;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1em;
}

ul {
	list-style-type: none;
}

ul span {
	margin: 0 1em;
}

ul span.date {
	color: #888;
	font-style: italic;
}

ul.span.email {
	width: 30%;
}

ul span.description {
	width: 50%;
}

ul span.name {
	color: #789be0;
	font-weight: 700;
}

ul.nav li span {
	display: inline-block;
	color: #ab18cd;
	padding: 10px 15px 10px;
}

ul form {
	display: inline;
}