doctype 5
html
	head
		meta(charset="utf8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		title= title
	body
		h1= header
		block content
		script(src='/js/bootstrap.js')